<head>
  <title>Ultimate Hackathon League - Teams</title>
</head>

<body>
  <h1>Teams</h1>

  <div class="add-team">
    <p class="btn">
      <a class="btn-add-team" href="/teams/new">Add a Team</a>
    </p>
  </div>

  <div>
    <% @teams.each do |team| %>
      <div class="teams-container">
        <div class="teams-container-top-row">
          <a class="team-name"><%= team.name %></a>
        </div>
        <div class="teams-container-middle-row">
          <a class="btn-team-details" href="/teams/<%= team.id %>">Team Details</a>
        </div>
        <div class="teams-container-bottom-row">
          <a class="btn-edit-team" href="/teams/<%= team.id %>/edit">Edit</a>
          <form class="btn-delete-team" method="post" action="/teams/<%= team.id %>/delete">
            <input type="submit" value="Delete"/>
          </form>
        </div>
      </div>
    <% end %>
  </div>

</body>
