<h1>Add a Fixture</h1>

<h2 id="kick-off">Kick off!</h2>

<div class="new-fixture-form-container">
  <form method="post" action="/fixtures">
    <label>
    Select Team A:
      <div>
      <% @teams.each do |team| %>
        <a class="team-a-list-name"><%= team.name %></a>
      <% end %>
      </div>
    </label>

    <label>
    Select Team B:
      <select name="team_b_id">

      </select>
    </label>

    <label>
    Winning Team:
      <select name="winning_team_id">

      </select>
    </label>

    <label>
    Losing Team:
      <select name="losing_team_id">

      </select>
    </label>


    <input class="btn-add-fixture" type="submit" value="Add Fixture">
  </form>
</div>
