<h1>Add a Fixture</h1>

<h2 id="kick-off">Kick off!</h2>

<div class="new-fixture-form-container">
  <form method="post" action="/fixtures">
    <label>
    Select Team A:
      <select name="team_a_id">

      </select>
    </label>

    <label>
    Select Team B:
      <select name="team_b_id">

      </select>
    </label>

    <label>
    Winning Team:
      <select name="winning_team_id">

      </select>
    </label>

    <label>
    Losing Team:
      <select name="losing_team_id">

      </select>
    </label>


    <input type="submit" value="Add Fixture">
  </form>
</div>
