<head>
  <title>Ultimate Hackathon League - About</title>
</head>

<h1 id="about">About</h1>
<div class="about-text">
  <p>This is the second version of my solo Ruby project for Week 5 of the CodeClan Professional Software Development course.</p>
  <p>For this version I started over on a Windows laptop, having created the first verson on a Macbook Pro, to be aware of differences in the process. I then developed the Teams, Fixtures and League Table pages to implement functionality I was not able to complete during the initial project.</p>
  <p>The following languages and technologies are being utilised:</p>
  <ul>
    <li>Ruby</li>
    <li>SQL</li>
    <li>Sinatra</li>
    <li>HTML & CSS</li>
  </ul>
</div>
