<!-- Top Container for Homepage -->
<section class="homepage-container">
  <div class="main-box main-box-a">
    <ul class="homepage-list">
      <li>
        <a href="/teams/new" class="btn">Add a Team</a>
      </li>
      <li>
        <a href="/teams" class="btn">Teams</a>
      </li>
      <li>
        <a href="/fixtures" class="btn">Fixtures</a>
      </li>
    </ul>
  </div>
  <div class="main-box main-box-b">
   <table class="small-league-table">
     <tr>
       <th></th>
       <th>Team</th>
       <th>Points</th>
     </tr>
     <tr>
       <td>1</td>
       <td>Sports Scorers</td>
       <td>6</td>
     </tr>
     <tr>
       <td>2</td>
       <td>Shop Winventory</td>
       <td>6</td>
     </tr>
     <tr>
       <td>3</td>
       <td>The Gym Bunnies</td>
       <td>3</td>
     </tr>
     <tr>
       <td>4</td>
       <td>Travel Bucket List Jetsetters</td>
       <td>3</td>
     </tr>
     <tr>
       <td>5</td>
       <td>Spending Tracker Big Spenders</td>
       <td>0</td>
     </tr>
     <tr>
       <td>6</td>
       <td>Vet Squad Managers</td>
       <td>0</td>
     </tr>
   </table>
  </div>
</section>
