<!-- Top Container for Homepage -->
<section class="homepage-container">
  <div class="main-box main-box-a">
    <ul class="homepage-list">
      <li>
        <a href="/teams/new" class="btn">Add a Team</a>
      </li>
      <li>
        <a href="/teams" class="btn">Teams</a>
      </li>
      <li>
        <a href="/fixtures" class="btn">Fixtures</a>
      </li>
      <li>
        <a href="/league-table" class="btn">League Table</a>
      </li>
    </ul>
  </div>
  <div class="main-box main-box-b">
    <p class="homepage-text">You can use these links to view the teams and fixtures stored in the database, and the league table of the current teams in the league. You can also add a team to the league.</p>
  </div>
</section>
