input[type="submit"] {
    text-transform: uppercase;
    font-family: Ariel, Helvetica, sans-serif;
    border: none;
    background: none;
}
  
select {
}
  
:focus {
    outline-color: transparent;
    outline-style: none;
}
  