<head>
  <title>Ultimate Hackathon League - League Table</title>
</head>

# Have position1, position2, etc
# A sorting algorithm arranges by points descending - where does it do this? I think I need a league_table file in models with a LeagueTable class which does this
# Each line of the table shows position1.name, position1.played, etc